Repository CPS-Innovation/djb-infrastructure-terraform: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/terragrunt-pipeline-apply-dev.yml, pipelines/terragrunt-pipeline-plan-dev.yml, pipelines/terragrunt-pipeline-plan-staging.yml

pipelines/terragrunt-pipeline-apply-dev.yml:

---
trigger:
  branches:
    include:
      - 'main'
  paths:
    include:
      - environments/dev
      - modules

pr: none

pool: 'DJB PreProd Pool'

jobs:
  - template: templates/terragrunt_apply.yml
    parameters:
      environment: dev
      module: base
      subscription: "DJB PreProd (via service principal)"
      backend_storage_resource_group: "rg-djb-devops-dev"
      backend_storage_account_name: "sadjbdevtfstate"
      application_name: "base"

  - template: templates/terragrunt_apply.yml
    parameters:
      environment: dev
      module: applications
      subscription: "DJB PreProd (via service principal)"
      backend_storage_resource_group: "rg-djb-devops-dev"
      backend_storage_account_name: "sadjbdevtfstate"
      application_name: "applications"

pipelines/terragrunt-pipeline-plan-dev.yml:

---
trigger:
  branches:
    exclude:
      - main
  paths:
   include:
    - environments/dev/*

pool: 'DJB PreProd Pool'

jobs:
  - template: templates/terragrunt_plan.yml
    parameters:
      environment: dev
      module: base
      subscription: "DigitalJuryBundle (Non-Production)"
      backend_storage_resource_group: "rg-djb-dev"
      backend_storage_account_name: "sadjbdevtfstate"
      application_name: "base"
      tfmodules_network: "network"

  - template: templates/terragrunt_plan.yml
    parameters:
      environment: dev
      module: applications
      subscription: "DigitalJuryBundle (Non-Production)"
      backend_storage_resource_group: "rg-djb-dev"
      backend_storage_account_name: "sadjbdevtfstate"
      application_name: "applications"
      tfmodules_network: "network"

pipelines/terragrunt-pipeline-plan-staging.yml:

---
trigger:
  branches:
    exclude:
      - main
  paths:
   include:
    - environments/staging
    - modules

pool: 'DJB PreProd Pool'

jobs:
  - template: templates/terragrunt_plan.yml
    parameters:
      environment: staging
      module: base
      subscription: "DJB PreProd (via service principal)"
      backend_storage_resource_group: "rg-djb-devops-dev"
      backend_storage_account_name: "sadjbstagingtfstate"
      application_name: "base"

  - template: templates/terragrunt_plan.yml
    parameters:
      environment: staging
      module: applications
      subscription: "DJB PreProd (via service principal)"
      backend_storage_resource_group: "rg-djb-devops-dev"
      backend_storage_account_name: "sadjbstagingtfstate"
      application_name: "applications"

add nsg id
  environments/staging/base/data.tf
  environments/staging/base/network.tf
  environments/staging/base/terraform.tfvars
Due: pipelines/terragrunt-pipeline-plan-staging.yml

add staging pipelines
  pipelines/terragrunt-pipeline-apply-staging.yml
  pipelines/terragrunt-pipeline-plan-staging.yml
Due: none

make var.tags optional
  environments/staging/base/network.tf
  environments/staging/base/terraform.tfvars
  environments/staging/base/variables.tf
  modules/network/data.tf
  modules/network/variables.tf
Due: pipelines/terragrunt-pipeline-apply-dev.yml, pipelines/terragrunt-pipeline-plan-staging.yml

Staging/add base layer (#15)
  environments/staging/base/.terraform.lock.hcl
  environments/staging/base/data.tf
  environments/staging/base/network.tf
  environments/staging/base/terraform.tfvars
  environments/staging/base/terragrunt.hcl
  environments/staging/base/variables.tf
  environments/staging/base/versions.tf
  environments/staging/root.hcl
  modules/network/main.tf
  modules/network/variables.tf
  pipelines/terragrunt-pipeline-apply-dev.yml
  pipelines/terragrunt-pipeline-apply-staging.yml
  pipelines/terragrunt-pipeline-plan-dev.yml
  pipelines/terragrunt-pipeline-plan-staging.yml
Due: pipelines/terragrunt-pipeline-apply-dev.yml, pipelines/terragrunt-pipeline-plan-staging.yml

add staging app layer
  environments/staging/applications/.terraform.lock.hcl
  environments/staging/applications/app-insights.tf
  environments/staging/applications/app-service-plan.tf
  environments/staging/applications/data.tf
  environments/staging/applications/function-app.tf
  environments/staging/applications/key-vault.tf
  environments/staging/applications/locals.tf
  environments/staging/applications/resource-group.tf
  environments/staging/applications/storage-account.tf
  environments/staging/applications/terraform.tfvars
  environments/staging/applications/terragrunt.hcl
  environments/staging/applications/variables.tf
  environments/staging/applications/versions.tf
  pipelines/terragrunt-pipeline-apply-staging.yml
  pipelines/terragrunt-pipeline-plan-staging.yml
Due: pipelines/terragrunt-pipeline-plan-staging.yml

add staging app layer (#16)
  environments/staging/applications/.terraform.lock.hcl
  environments/staging/applications/app-insights.tf
  environments/staging/applications/app-service-plan.tf
  environments/staging/applications/data.tf
  environments/staging/applications/function-app.tf
  environments/staging/applications/key-vault.tf
  environments/staging/applications/locals.tf
  environments/staging/applications/resource-group.tf
  environments/staging/applications/storage-account.tf
  environments/staging/applications/terraform.tfvars
  environments/staging/applications/terragrunt.hcl
  environments/staging/applications/variables.tf
  environments/staging/applications/versions.tf
  pipelines/terragrunt-pipeline-apply-staging.yml
  pipelines/terragrunt-pipeline-plan-staging.yml
Due: pipelines/terragrunt-pipeline-plan-staging.yml

rm acl from kv module - using private endpoint only
  modules/key-vault/main.tf
Due: pipelines/terragrunt-pipeline-apply-dev.yml, pipelines/terragrunt-pipeline-plan-staging.yml

rm acl bypass from kv module - using private endpoint only
  modules/key-vault/main.tf
Due: pipelines/terragrunt-pipeline-apply-dev.yml, pipelines/terragrunt-pipeline-plan-staging.yml

disable disk encryption
  modules/key-vault/main.tf
Due: pipelines/terragrunt-pipeline-apply-dev.yml, pipelines/terragrunt-pipeline-plan-staging.yml

upgrade provider versions and terraform
  environments/dev/applications/.terraform.lock.hcl
  environments/dev/applications/versions.tf
  environments/dev/base/.terraform.lock.hcl
  environments/dev/base/versions.tf
  environments/staging/applications/.terraform.lock.hcl
  environments/staging/applications/versions.tf
  environments/staging/base/.terraform.lock.hcl
  environments/staging/base/versions.tf
  modules/app-insights/.terraform.lock.hcl
  modules/app-insights/versions.tf
  modules/app-service-plan/.terraform.lock.hcl
  modules/app-service-plan/versions.tf
  modules/function-app/.terraform.lock.hcl
  modules/function-app/main.tf
  modules/function-app/variables.tf
  modules/function-app/versions.tf
  modules/key-vault/.terraform.lock.hcl
  modules/key-vault/main.tf
  modules/key-vault/versions.tf
  modules/network/.terraform.lock.hcl
  modules/network/versions.tf
  modules/resource-group/.terraform.lock.hcl
  modules/resource-group/versions.tf
  modules/storageaccount/.terraform.lock.hcl
  modules/storageaccount/versions.tf
  pipelines/templates/terragrunt_apply.yml
  pipelines/templates/terragrunt_plan.yml
Due: pipelines/terragrunt-pipeline-apply-dev.yml, pipelines/terragrunt-pipeline-plan-dev.yml, pipelines/terragrunt-pipeline-plan-staging.yml
